html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 16, 16);
    color: white;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
    line-height: 1.4;
}

a {
    font-size: 1.3rem;
}
.inline-para {
    display: inline-block;
}